body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #333;
}

.dropper {
    cursor: url(dropper.png) 1 20, pointer;
}

header {
    background-color: #999;
    color: #eee;
    height: 5vh;
}

nav {
    position: absolute;
    left: -60px;
    width: 100px;
}

main {
    position: relative;
    background-color: #eee;
    color: #ddd;
    height: 560px;
    display: flex;
    position: relative;
    width: 400px;
    margin: 1em auto;
}

#bgimage {
    position: absolute;
    display: inline-block;
    z-index: 1;

}

#tracer {}

footer {
    background-color: #666;
    color: #eee;
    height: 5vh;
}

.image::after {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 10px;
    width: 10px;
    content: "";
}

#imageList {
    position: absolute;
    top: 90px;
    left: -90px;
    text-align: center;
}

#images {
    width: 80px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

label {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    text-transform: uppercase;

}

.image {
    display: inline-block;
    width: 400px;
    height: 550px;
    position: absolute;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: none;
}

#grid {
    border-collapse: collapse;
    border: 2px outset #fff;
    position: relative;
    z-index: 1001;
    width: 400px;
    box-sizing: border-box;
    background-color: transparent;
}

#grid td {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
}

#grid td:hover {
    background-color: #c00;
}

#fgcolor {
    left: -25px;
    position: relative;
    height: 44px;
    z-index: 101;
}

#bgcolor {
    height: 44px;
    position: relative;
    top: -20px;
    z-index: 99;
}

a#colorswap {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: -10px;
    left: 22px;
    font-size: 28px;
    transform: scaleX(.5);

}

#play {
    font-size: 32px;
    display: inline-block;
    outline: none;
    text-shadow: 3px 3px 3px #0009;
    margin-top: 0px;
    text-decoration:none;
}

#play:active {
    margin-top: 3px;
    background-color: transparent;
    text-shadow: 0px 0px 3px #000a;
}
